.body {
  font-family: 'Open Sans','Josefin Sans', sans-serif;
}

.navbar{
  background: #fafafa;
}
.navbar-brand {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 300;
}
.product__column {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.product__column:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  cursor: pointer;
}
.featured__product {
  position: relative;
}

.featured__product__bg {
  position: absolute;
  width: 70%;
  background-color: #ffbd4a;
  z-index: 10;
  height: 100%;
}
.featured__product__img {
  text-align: left;
  z-index: 20;
}
.featured__product__img img {
  padding: 2rem 0;
}
.featured__product__text {
  text-align: left;
  z-index: 21;
  font-family: 'Open Sans','Josefin Sans', sans-serif;
  
}
.featured__product__text p {
  line-height: 2rem;
  font-weight: 400;
  font-size: 1rem;
  color: #444;
  padding-bottom: 1.8rem;
}
.featured__product__text h1 {
  font-family: 'Cormorant Garamond','Open Sans','Josefin Sans', sans-serif;
  padding-bottom: 2rem;
  font-size: 3.5rem;
  font-weight: 300;
  color: #a8a8a8;
}
.featured__product__btn {
  color: rgba(0,0,0,1);
    border-width: 01px;
    border-color: rgba(0,0,0,1);
    border-radius: 0;
    padding: 1rem 3rem;
    height: 3rem;
    transition: all .3s linear;
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
}
.featured__product__btn:hover {
  background-color: rgba(7,7,7,1);
    color: rgba(252,252,252,1);
    border-width: 01px;
    border-color: rgba(0,0,0,1);
}
.test {
  background-image: url(./img/Paloma.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero.is-info .title {
  text-transform: uppercase;
  font-size: 3rem;
  text-shadow: 1px 1px #434343;
}
.hero.is-info .subtitle{
  text-transform: uppercase;
  font-size: 3rem;
  text-shadow: 1px 1px #434343;
  color: #fff;
  font-weight: 600;
}
.hero-body{
  padding-bottom: 10rem;
}
#goop {
  fill: #fff;
}
.navbar.is-gray {
  background-color: #e5ece9;
  color: #333;
}
.product__column {
  position: relative;
  overflow: hidden;
  z-index: 2;
  padding: 0;
  margin: 0.2rem;
}

.product__column > img {
  vertical-align: bottom;
}

.product__info {
  padding: 0.5rem 0 0.5rem 2rem;
  /* background: rgba(255, 189, 74, 0.9); */
  /* background: rgba(168, 168, 168, 0.8); */
  /* background: rgba(255, 92, 92, 0.9); */
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  width: 100%;
  z-index: 1;
  bottom: 0;
}

.product__info::before {
  content: "";
  /* background-color: #ff5c5c; */
  background-color: #ffbd4a;
  /* background-color: #a8a8a8; */
  height: calc(100% - 26px);
  position: absolute;
  margin: 13px 0;
  left: 15px;
  top: 0;
  width: 2px;
}

.product__name {
  color: #333;
  font-size: 1.1rem;
  line-height: 2.6rem;
  letter-spacing: 1px;
  font-weight: bold;
  /* text-transform: lowercase; */
}

.product__meta {
  font-size: 0.9rem;
  font-weight: 300;
  font-weight: bold;
}

.contact__us {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  font-family: 'Cormorant Garamond','Open Sans','Josefin Sans', sans-serif;
  color: #fff;
}
.contact {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: rgba(190,191,192,1);
  transition: all ease-in 350ms;
}

.contact:hover {
  background-color: #434343;
}
.contact__us h3 {
  padding-bottom: 2rem;
  font-size: 3.5rem;
  font-weight: 300;
  color: #fff;
}

.contact__us p {
  font-size: 1.5rem;
  font-style: italic;
  padding-bottom: 2rem;
}

.contact__us a {
  font-size: 0.9rem;
  color: #fff;
  padding-bottom: 2rem;
  font-style: normal;
  font-family: 'Open Sans','Josefin Sans', sans-serif;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.news {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: rgba(199,200,201,1);
  transition: all ease-in 350ms;
}

.news:hover {
  background-color: #434343;
}

footer {
  color: #3D4144;
  padding-bottom: 3rem;
  font-family: 'Open Sans','Josefin Sans', sans-serif;
}
footer h3 {
  text-transform: uppercase;
  padding-bottom: 1.5rem;
  font-size: 0.9rem;
  letter-spacing: 1px;
}
footer a {
  color: #3D4144;
}

footer p {
  padding-bottom: 0.8rem;
}

.social__networks {
  text-align: center;
}

footer i {
  display: inline-block;
  width: 2.5rem;
  height: 1.8rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.social__networks {
  text-align: left;
}

footer .facebook {
  background-image: url("img/icons/facebook-logo-in-circular-button-outlined-social-symbol.svg");
}

footer .linkedin {
  background-image: url("img/icons/linkedin.svg")
}

footer .instagram {
  background-image: url("img/icons/instagram.svg")
}

@media(max-width: 769px) {
  .social__networks {
    text-align: center;
  }
  .product__column {
    margin-bottom: 2rem;
  }
}


footer .logo img{
  max-width: 200px;
}